PORT=5000

MONGO_URI=mongodb+srv://alliancejaitu2016_db_user:X3p7RfkEX7QuoeMf@alliancejaitu.awct4td.mongodb.net/?appName=AllianceJaitu

JWT_SECRET=alliance_school_jwt_secret_2026_very_secure_key

ADMIN_EMAIL=admin@allianceschool.com
ADMIN_PASSWORD=AllianceAdmin2026

CLOUDINARY_CLOUD_NAME=owy85ecc
CLOUDINARY_API_KEY=248822985729637
CLOUDINARY_API_SECRET=f7dsRcMWjEzpLqWptPzFU8xr1os

EMAIL_USER=
EMAIL_PASS=